.card-special {
  width: 370px;
  padding: 16px;
  overflow: hidden;
  position: relative;

  /* White */
  background: #ffffff;
  /* #D8DDE6 */
  border: 1px solid #d8dde6;
  box-sizing: border-box;
  border-radius: 4px;
}
.list-product {
  height: 500px;
  overflow-y: auto;
  padding-right: .5rem;
  position: relative;
}
#test-l-4 .list-product .product-item .name {
  color: #1d243e;
  display: -webkit-box;
  font-size: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#test-l-4 .list-product .product-item p {
  color: #6c738d;
  font-size: .875rem;
  margin-bottom: .5rem;
}
.card-file {
  width: 170px;
  margin-left: 8px;
  margin-right: 8px;
}

.textOverfollow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-product .card-body {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.card-product {
  width: 270px;
  background: white;
  display: flex;
  align-items: center;
  padding-top: 16px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #d8dde6;
  margin: 15px;
}
.bs-stepper-label {
  font-size: 14px;
}

.card-body {
  margin-top: 16px;
  padding: 0 !important;
}

.nextprevious {
  width: 100%;
  padding-bottom: 32px;
  display: flex !important;
  justify-content: space-between;
}

.card-step2 {
  background: #ffffff;
  /* #D8DDE6 */
  border: 1px solid #d8dde6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 370px;
  padding: 16px;
  position: relative;
}

.chinhsua {
  margin-right: 16px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;

  color: #363f7a;
}

.product-list-wrapper .product-list-item {
  padding-bottom: 15px;
  padding-top: 15px;
}
.select-product-container .title {
  line-height: normal;
}

.product-list .product-item {
  margin: 16px 0;
}
.product-list .product-item .card-product {
  margin: 0;
  padding: 16px 50px;
  width: 100%;
}
.product-list .product-item .title {
  font-size: 16px;
  margin-bottom: 32px;
}
.refine-option .product-list .product-item .labelradio, .refine-option .product-list .product-item .bg {
  border-radius: 4px;
}
.refine-option .product-list .product-item p {
  font-size: 14px;
}
.refine-option .product-action {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0;
}
.refine-option .product-action .btn-border {
  height: 48px;
  width: 170px;
}
.refine-option .refine-button {
  background-color: transparent;
  margin-right: 30px;
  padding: 0;
}
.refine-option .refine-button:focus {
  box-shadow: none;
}
.product-list .product-item .name {
  margin-bottom: 0;
}
.product-list .product-item .description {
  margin: 4px 0 8px;
}
.search-button.btn-click {
  padding: 10px 16px;
}
.search-input.form-control {
  width: 370px;
}
.create-special-styling-modal .modal-dialog {
  max-width: 774px;
  width: 774px;
}
.create-special-styling-modal .modal-title {
  color: #1d243e;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}
.create-special-styling-modal .modal-body h6 {
  color: #182550;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
}
.create-special-styling-modal .form-control {
  width: 370px;
}
.create-special-styling-modal textarea.form-control {
  height: 80px;
}

.special-stylelist p {
  font-size: 14px;
}
.special-stylelist .product-item {
  padding-bottom: 0;
}

.file-list {
  overflow-x: auto;
}
.file-item .file-image {
  position: relative;
}
.file-item .file-image a {
  padding: 0;
}
.file-item .file-image:hover .overlay {
  display: block;
}
.file-item .file-image:hover .action {
  display: flex;
}
.file-item .file-image .overlay, .file-item .file-image .action {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.file-item .file-image .overlay {
  background-color: #1d243e;
  opacity: .48;
}
.file-item .preview-button {
  padding-bottom: 7px;
  padding-top: 7px;
}
.file-item .delete-file-button {
  border: none;
  color: #fff;
}
.delete-file-button:hover {
  background-color: transparent;
}
.file-item .file-image .action {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.select-background-modal .product-list-container {
  max-height: 554px;
  padding: 0 85px;
  position: relative;
}
.select-background-modal .modal-footer {
  border: none;
  justify-content: center;
  padding-bottom: 32px;
}
.select-background-modal .modal-footer .load-more {
  background-color: transparent;
  color: #2a4793 !important;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}
.edit-position-modal .modal-body {
  padding-left: 238px;
}
.edit-position-modal .modal-body .side-list .side-item .btn {
  background-color: #fff;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  color: #6c738d;
  font-size: 14px;
  height: 32px;
  width: 80px;
}
.edit-position-modal .modal-body {
  display: flex;
}
.edit-position-modal .modal-body .side-list .side-item.active .btn {
  border-color: #f08942;
  color: #f08942;
}
.edit-position-modal .modal-body .side-list .side-item .btn:focus {
  box-shadow: none;
}
.edit-position-modal .modal-body .side-list .side-item + .side-item {
  margin-top: 16px;
}
.edit-position-modal .modal-body > * + * {
  margin-left: 32px;
}
.edit-position-modal .modal-body .product .product-preview {
  border-radius: 4px;
  height: 336px;
  width: 270px;
}
.edit-position-modal .modal-body .product .info {
  text-align: center;
}
.edit-position-modal .modal-body .product .info .name {
  color: #1d243e;
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 8px;
}
.edit-position-modal .modal-body .product .info .description {
  color: #6c738d;
  font-size: 12px;
}
.edit-position-modal .modal-body .color-list .color-item {
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  padding: 4px;
}
.edit-position-modal .modal-body .color-list .color-item.active {
  border: 2px solid #f08942;
}
.edit-position-modal .modal-body .color-list .color-item span {
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.edit-position-modal .modal-body .color-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.edit-position-modal .modal-body .color-list .color-item + .color-item {
  margin-top: 16px;
}
.select-background > div + div {
  margin-top: 16px;
}
.select-background .title {
  color: #1d243e;
  font-size: 16px;
  font-weight: bold;
}
.select-background .background-list {
  display: grid;
  grid-gap: 16px 8px ;
  grid-template-columns: repeat(5, 1fr);
}
.select-background .background-list .background-item {
  border-radius: 4px;
  cursor: pointer;
  height: 48px;
  width: 48px;
}
.special-product-list .product-item img {
  height: 66px;
  object-fit: cover;
  width: 131px;
}
.basic-product-list .product-item .product-image {
  height: 172px;
  object-fit: cover;
  width: 138px;
}
