.text-grey {
  color: #6c738d;
}
.custom-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.custom-header .filter-container {
  align-items: center;
  display: flex;
}
.custom-header .filter-container .filter-select {
  margin-left: 32px;
}
.search {
  position: relative;
}
.icon-search {
  position: absolute;
  top: 10px;
  right: 10px;
}
.input-search {
  width: 370px;
  height: 40px;
  background: #ffffff;
  /* Gray */
  border: 1px solid #d8dde6;
  box-sizing: border-box;
  border-radius: 4px;
}
.filter-select {
  align-items: center;
  display: flex;
}
.filter-select .label {
  color: #182550;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  margin-right: 8px;
}
.upload-button {
  background-color: transparent;
  border: 1px solid #363f7a;
  border-radius: 4px;
  color: #2a4793;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  padding: 14px 16px;
  text-transform: uppercase;
}

body {
  background-color: #f5f6fa;
  font-family: Cabin !important;
  line-height: normal;
}
a {
  cursor: pointer;
}

.btn-border {
  border-style: unset;
  border: 1px solid #363f7a !important;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #363f7a;
  padding: 12px 16px;
  cursor: pointer;
  background: transparent;
}
.btn.btn-primary {
  background-color: #363f7a;
  border: 1px solid #363f7a;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  padding: 12px 16px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #363f7a;
  border: 1px solid #363f7a;
  color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.btn-outline-primary {
  border-color: #363f7a;
  color: #363f7a;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  padding: 12px 16px;
}
.btn-outline-primary:hover {
  background-color: #363f7a;
  border-color: #363f7a;
  color: #fff;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: #363f7a;
  border-color: #363f7a;
  color: #fff;
}

.card-index {
  width: 170px;
  background: #ffffff;
  /* #D8DDE6 */
  border: 1px solid #d8dde6;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px;
  position: relative;
}
.btn-click {
  cursor: pointer;
  border-style: unset;
  background: #363f7a;
  border-radius: 4px;
  font-style: normal;
  line-height: normal;
  font-size: 16px !important;
  text-align: center;
  padding: 13px 16px;
  color: #ffffff;
}

.tieude {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  font-size: 24px;
  color: #1d243e;
}

.tieudexam {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  margin-left: 16px;
  color: #6c738d;
}

.topnav {
  border-bottom: 1px solid #d8dde6;
}
.topnav .navbar-brand {
  padding-bottom: 17px;
  padding-top: 17px;
}
.topnav .nav .nav-item .nav-link {
  margin: 0 8px;
  padding: 24.5px 0;
}

.normaltext {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #1d243e;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #1d243e !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
  border-radius: 0;
  border-bottom: 4px solid #f08942;
  background-color: transparent !important;
}

.labeltext {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #182550;
}

.placeholder {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #929aae;
}

.labelradio {
  color: #1d243e;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1rem;
  font-weight: bold;
  user-select: Cabin;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.labelradio[class*="col"] {
  padding: 0;
}

.labelradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
.labelradio:hover input ~ .checkmark {
  background-color: #ccc;
}
.labelradio input:checked ~ .checkmark {
  border: 2px solid #f08942;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.labelradio input:checked ~ .checkmark:after {
  display: block;
}
.labelradio .checkmark:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f08942;
}

.labelradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxcus {
  position: absolute;
  height: 16px;
  width: 16px;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  z-index: 1;
  background-color: white;
  top: 8px;
  left: 8px;
}

.labelradio input:checked ~ .checkboxcus {
  background-color: #f08942;
  border-radius: 4px;
  z-index: 1;
  top: 8px;
  left: 8px;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #363f7a;
  opacity: 0;
}
.labelradio {
  margin-bottom: 0;
}
.labelradio input:checked ~ .bg {
  opacity: 0.32;
}

.checkboxcus:after {
  content: "";
  position: absolute;
  display: none;
}
.labelradio input:checked ~ .checkboxcus:after {
  display: block;
}

.labelradio .checkboxcus:after {
  left: 4.5px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radiobtn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
  font-size: 16px;
  align-items: center;
  display: flex;
  font-weight: normal;
  font-size: 16px;

  color: #6c738d;
}

/* Hide the browser's default radio button */
.radiobtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #d8dde6;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn:hover input ~ .checkmark {
  background-color: white;
  border: 2px solid #d8dde6;
}

/* When the radio button is checked, add a blue background */
.radiobtn input:checked ~ .checkmark {
  background-color: white;
  border: 2px solid #f08942;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobtn .checkmark:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f08942;
}

.radiobtn input:checked ~ .labradio {
  font-weight: bold;
  color: #1d243e;
}

.custom-select {
  min-width: 145px;
}
.form-control::placeholder, .form-control::-webkit-input-placeholder, .custom-select {
  color: #929aae;
  font-size: 14px;
}
input.form-control, .custom-select {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
textarea.form-control {
  padding-left: 16px;
  padding-right: 16px;
}
.form-control:focus, .custom-select:focus {
  border-color: #f08942;
  box-shadow: none;
}

.nav-pills-text {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;

  color: #1d243e;
}
.nav-pills-text .nav-link.active {
  border-bottom: 4px solid #f08942;
}

.el-checkbox {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
.el-checkbox__inner {
  border: 1px solid #d8dde6;
  border-radius: 4px;
  display: inline-block;
  height: 100%;
  pointer-events: none;
  position: relative;
  width: 100%;
}
.el-checkbox__input {
  display: none;
}
.el-checkbox__input:checked ~ .el-checkbox__inner {
  background-color: #f08942;
}
.el-checkbox__input:checked ~ .el-checkbox__inner::after {
  border: solid white;
  border-width: 0 2px 2px 0;
  content: "";
  display: block;
  height: 9px;
  left: 4.5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  width: 5px;
}

.tab-list .tab-item:not(:last-child) {
  margin-right: 16px;
}
.tab-list .tab-item .nav-link {
  font-weight: normal;
  line-height: normal;
  padding: 4px 0 5px;
}
.tab-list .tab-item .nav-link:hover {
  background-color: transparent;
}

.product-list .product-item h3.title {
  color: #1d243e;
  display: -webkit-box;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-list .product-item .description {
  color: #6c738d;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.product-list .product-item .edit-button {
  color: #2a4793;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.modal .modal-title {
  color: #1d243e;
  font-size: 24px;
  font-weight: bold;
}
.modal .modal-footer {
  padding-bottom: 32px;
}
.modal .modal-footer.no-border {
  border-top: none;
}
.modal .modal-footer .btn-outline-primary {
  background-color: transparent;
  border: none;
  color: #6c738d !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-right: 16px;
  padding: 0;
  text-transform: uppercase;
}
.modal .modal-footer .btn-outline-primary:active, .modal .modal-footer .btn-outline-primary:hover {
  background-color: transparent;
}
.modal .modal-footer .btn-outline-primary:focus {
  box-shadow: none !important;
}
.modal .modal-footer .submit-button {
  background-color: #363f7a;
  border-color: #363f7a;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  padding: 13px 16px;
}
.modal .modal-footer .submit-button:active {
  background-color: #363f7a;
}
.modal .modal-footer .submit-button:focus {
  box-shadow: none !important;
}

.bs-stepper-header {
  padding: 45px 15% 19px;
}
.bs-stepper-header .step-trigger {
  padding: 0;
  position: relative;
}
.bs-stepper-header .bs-stepper-label {
  top: -30px;
  position: absolute;
}
.bs-stepper-header .step .bs-stepper-label {
  display: none;
}
.bs-stepper-header .step.active .bs-stepper-label {
  color: #f08942;
  display: block;
}
.bs-stepper-header .step.active .bs-stepper-circle {
  background-image: url("./../assets/images/checked-thin.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.bs-stepper-header .step .bs-stepper-circle {
  background-color: #d8dde6;
  background-image: url("./../assets/images/dot-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
.bs-stepper-header .step.active .bs-stepper-circle {
  background-image: url("./../assets/images/dot-orange.svg");
}
.bs-stepper-header .step.active .bs-stepper-circle {
  background-color: transparent;
  border: 2px solid #f08942;
}
.bs-stepper-header .step.before-active .bs-stepper-circle {
  background-color: #f08942;
  background-image: url("./../assets/images/checked-thin.svg");
}
.bs-stepper-header .step.before-active .step-trigger {
  opacity: 1;
}
.bs-stepper-header .line.before-active {
  background-color: #f08942;
}
.bs-stepper .step-trigger:hover, .bs-stepper a:hover {
  background-color: transparent;
}
.success-create-special-product-modal .modal-body, .success-upload-modal .modal-body {
  padding: 32px;
  text-align: center;
}
.success-create-special-product-modal .modal-body h3, .success-upload-modal .modal-body h3 {
  margin-top: 32px;
}

.btn-tag {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin: 6px 3px;
  padding: 4px 8px;
  background: #d8dde6;
  border-radius: 100px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  border-style: unset;
  color: #6c738d;
}
.btn-tag:focus {
  outline: none;
}

@media (min-width: 992px) {
  .modal-lg {
    max-height: 800px;
    max-width: 970px;
  }
}
