.btn-upload {
  cursor: pointer;
  border: 1px solid #363f7a;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #2a4793;
}

.btn-thietke {
  color: #fff;
  cursor: pointer;
  background: #363f7a;
  border-radius: 4px;
  font-family: Cabin;
  font-style: normal;
  line-height: normal;
  padding: 14px 16px;
}
.btn-thietke:hover {
  color: #fff;
}

.label-radio {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;

  color: #1d243e;
}

.form-check-radio {
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
  display: flex !important;
}

.item-list > .tab-pane > .row > [class|="col"] {
  padding-bottom: 16px;
  padding-top: 16px;
}

.search .search-input {
  border: 1px solid #d8dde6;
  width: 370px;
}
.product-list .product-item .title {
  display: -webkit-box;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-list .product-item .description {
  display: flex;
  justify-content: space-between;
}
