.table-list {
  border: 1px solid #d8dde6;
  border-radius: 4px;
  background: white;
}
.table-list .view-detail-button {
  color: #363f7a !important;
}

.header-table {
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;

  color: #1d243e;
}

.text-table {
  font-family: Cabin;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  color: #6c738d;
}

.border-table {
  font-weight: bold;
  font-size: 14px;
  color: #363f7a;
}
.btn-border-gray {
  cursor: pointer;
  border-style: unset;
  border: 1px solid #d8dde6 !important;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #363f7a;
  cursor: pointer;
  padding: 7px 16px;
  font-size: 14px;
  background: white;
  margin-left: 4px;
  margin-right: 4px;
}

.daterange-picker {
  position: relative;
}
.daterange-picker .fa-angle-down {
  color: #6c738d;
  position: absolute;
  right: 17px;
  top: 12px;
}
.search-form {
  width: 528px;
}
.listing-table {
  margin-bottom: 6px;
}
.listing-table tr th:first-child {
  padding-right: 4px;
  width: 16px;
}
.listing-table tr td:first-child {
  padding-right: 4px;
  width: 16px;
}

.form-control::placeholder, .form-control::-webkit-input-placeholder, .custom-select {
  font-size: 16px;
}
